body 
{
  background-color: powderblue;
  }
  h1 { color: light grey;
}
p {
  color: black;
}
h2
  {color: black;
}
	 h1.center{
  color:black;
  font-family:calibri;
}


img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding 5px;
  width: 300px;
}